// html,
// body {
//   background-color: #f1f5f9;
//   font-size: 0.875rem;
// }

// .sideMenu {
//   background-color: white;
// }

// %hoverable {
//   &:hover {
//     box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
//     transform: translateY(-0.3rem);
//   }
// }

// %active {
//   border-left: 3px solid var(--fis-primary) !important;
//   // background-color: var(--fis-active-color) !important;
// }

// %activeBottom {
//   border-bottom: 3px solid var(--fis-secondary) !important;
//   color: white !important;
// }

// .custom-card {
//   border-radius: 0.5rem;
//   transition: all 0.4s;
//   box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
//   background-color: #fff;
//   .card-header {
//     background-color: #fff;
//   }
//   &.hoverable {
//     @extend %hoverable;
//   }
// }

// .activeElement,
// .hoverClass {
//   &:hover {
//     //  font-weight: bolder !important;
//     color: var(--fis-primary) !important;
//     background-color: transparent !important;
//     .row {
//       flex: 1;
//       flex-direction: unset;
//     }
//     span,
//     a,
//     p,
//     i,
//     svg {
//       //  font-weight: bolder !important;
//       color: var(--fis-primary) !important;
//       background-color: transparent !important;
//     }
//   }
// }

// .sideMenu {
//   .active {
//     @extend %active;
//   }
// }
// .topbar-wrapper.side-menu-layout {
//   color: var(--fis-primary);
//   background-color: white;
//   select {
//     color: white;
//     option {
//       color: black;
//     }
//   }
// }

// #fisCustomMenu {
//   .activeTop {
//     @extend %activeBottom;
//   }
//   .active {
//     @extend %active;
//   }
//   li {
//     .row {
//       @extend .hoverClass;
//       flex: 1;
//       flex-direction: unset;
//     }
//   }
// }

// .heading {
//   font-weight: 700;
//   text-transform: capitalize;
//   font-size: 18px;
//   color: black;
// }

// .pg-heading {
//   font-size: 28px;
//   font-weight: 400;
//   color: black;
//   padding-bottom: 16px;
// }

// .pg-sub-heading,
// .sub-heading {
//   font-size: 14px;
//   line-height: 22px;
//   color: #545b65;
// }

// .btn {
//   font-size: 14px;
//   font-weight: 700;
//   padding: 4px;
//   line-height: 22px;
//   padding-left: 24px;
//   padding-right: 25px;
// }

// .rule-select .mb-3 {
//   margin: 0 !important;
// }

// .custom-datatable {
//   .card-body {
//     padding: 0;
//     margin: 0;
//     overflow-x: scroll;
//   }
//   .m-15 {
//     padding: 0;
//     margin: 0;
//   }
//   .custom-card-datatable {
//     //  display: table;
//     width: 100%;
//     table-layout: fixed;
//     border-collapse: collapse;

//     .table-row {
//       display: table-row;
//       &:hover {
//         cursor: pointer;
//       }
//     }

//     .table-cell {
//       display: table-cell;
//       padding: 10px;
//       vertical-align: middle;
//     }

//     .first-column {
//       padding-left: 20px;
//     }

//     .sort-key {
//       margin-right: 10px;
//     }

//     .active {
//       @extend %active;
//     }
//   }
// }

// .custom-reload-button {
//   padding: 4px;
//   cursor: pointer;
// }

// .select-block {
//   box-shadow: inset 0px 1px 1px 0 rgba(0, 28, 36, 0.3),
//     inset 1px 1px 0 rgba(0, 28, 36, 0.15);
//   border: var(--bs-card-border-width) solid var(--bs-card-border-color);
//   .select-block-item {
//     border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
//     padding: 10px;
//     cursor: pointer;
//     &:hover {
//       @extend .hoverClass;
//     }
//     &.active {
//       @extend %active;
//     }
//   }
// }

// .dndnode {
//   padding: 5px;
//   border-radius: 5px;
//   margin-bottom: 5px;
//   &.input {
//     border: 1px solid var(--bs-card-border-color);
//   }
//   &.output {
//     border: 1px solid #545b65;
//   }

//   &.primary {
//     border: 1px solid var(--fis-primary);
//   }

//   &.secondary {
//     border: 1px solid var(--fis-secondary);
//   }
//   &.success {
//     border: 1px solid var(--fis-success);
//   }
//   &.danger {
//     border: 1px solid var(--fis-danger);
//   }
//   &.info {
//     border: 1px solid var(--fis-info);
//   }
//   &.warning {
//     border: 1px solid var(--fis-warning);
//   }
//   &.primary-dark {
//     border: 1px solid var(--fis-primary-dark);
//   }
//   &.secondary-dark {
//     border: 1px solid var(--fis-secondary-dark);
//   }
// }

// .disable-padding {
//   .card-body {
//     .p-10 {
//       padding: unset;
//     }
//     .m-10,
//     .m-15 {
//       margin: unset;
//     }
//   }
// }

// .gradient-bg {
//   background-image: linear-gradient(
//     to right,
//     var(--fis-primary),
//     var(--fis-secondary)
//   );
// }

// .overlay {
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
//   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
//   cursor: pointer; /* Add a pointer on hover */
// }

// .color-white {
//   color: white;
// }

.display-none-custom-block {
  display: none;
}

.custom-card-datatable {
  overflow-x: scroll;
}

.form-control-tooltip {
  cursor: pointer;
}

.topbar-wrapper,
.card {
  .card-header {
    background-color: #fff;
  }
  background-color: #fff;
}

%hover {
  &:hover {
    color: var(--fis-primary);
    fill: var(--fis-primary);
  }
}

.simple-wrapper-overlay-y {
  height: 100%;
  overflow-y: scroll;
}

.sideMenu-heading {
  color: #94a3b8;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.modules-block {
  padding: 1rem;
  .btn-primary,
  .dropdown {
    width: 100%;
  }
  .btn {
    background-color: var(--fis-primary);
    color: #fff;
    border-color: var(--fis-primary);

    &:active {
      background-color: var(--fis-primary);
      color: #fff;
      border-color: var(--fis-primary);
    }
    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    max-height: 0;
    width: 100%;
    color: #fff;
    background-color: var(--fis-primary);
    transition: all 0.3s ease;
    &.show {
      max-height: 200px;
    }
    a {
      color: #fff;
      @extend %hover;
    }
  }
}

.menu-border-class {
  align-items: center;
  color: var(--fis-body-color);
  display: flex;
  font-weight: 500;
  line-height: 1.8;
  padding: 0.5rem 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;

  a {
    text-transform: none;
    color: var(--fis-body-color);
    cursor: pointer;
    @extend %hover;
  }

  &.active {
    svg {
      color: var(--fis-primary);
      fill: var(--fis-primary);
    }

    a {
      color: var(--fis-primary);
    }
  }

  @extend %hover;

  .sub-menu {
    .sub-menu-icon {
      background-color: var(--fis-body-color);
      border-radius: 10px;
      content: "";
      opacity: 0.5;
      transition: all 0.4s ease-in-out;
      @extend %hover;
    }
  }
}

.custom-datatable {
  box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
}

.table-hover {
  > tbody {
    > tr {
      &.active {
        > * {
          --bs-table-accent-bg: var(--bs-table-hover-bg);
          color: var(--fis-body-color);
        }
      }

      &:hover {
        > * {
          --bs-table-accent-bg: var(--fis-primary);
          color: var(--fis-secondary);
        }
      }
    }
  }
}

input[type="checked"],
input[type="radio"] {
  &:checked {
    accent-color: var(--fis-primary);
    background-color: var(--fis-primary);
    border-color: var(--fis-primary);
  }
}

.form-check-input {
  border: 1px solid var(--fis-body-color);
}

.bg-overlay {
  background-color: var(--fis-primary);
  min-height: 200px;
  * {
    color: var(--fis-secondary);
  }
}

.overlay-table {
  position: relative;
  bottom: 8rem;
}

.pb-none {
  padding-bottom: unset !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

.no-wrap {
  white-space: nowrap;
}

.max-height-100 {
  max-height: 100px;
}

.height-100vh {
  height: 100vh;
}

.max-height-50 {
  max-height: 50px;
}

.max-height-400 {
  max-height: 400px;
}

.max-height-200 {
  max-height: 200px;
}

.max-height-300 {
  max-height: 300px;
}

.max-height-500 {
  max-height: 500px;
}

.min-height-500 {
  min-height: 500px;
}

.min-height-400 {
  min-height: 400px;
}

.uppercase {
  text-transform: uppercase;
}

.flex-bottom {
  display: flex;
  align-self: flex-end;
}

.border-right-1 {
  border-right: 1px solid;
}

.simple-table {
  border-collapse: collapse;
  width: 100%;
}

.simple-table td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.simple-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.simple-table tr:hover {
  background-color: #ddd;
}

.simple-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--fis-primary);
  color: white;
}

.highlight-primary {
  background-color: var(--fis-primary);
  color: white;
  letter-spacing: 0.1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.highlight-secondary {
  background-color: #f1f5f9;
  color: black;
  letter-spacing: 0.1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.modal-width-auto .modal-dialog {
  --bs-modal-width: auto;
}

.timeline-container {
  position: relative;
  padding: 2rem 0;
}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #dee2e6;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 15px;
  width: 15px;
  height: 15px;
  background-color: #0d6efd;
  border-radius: 50%;
  z-index: 1;
}

.align-left {
  justify-content: flex-end;
  text-align: right;
  padding-right: 2rem;
}

.align-right {
  justify-content: flex-start;
  padding-left: 2rem;
}

.table {
  margin-bottom: unset;
}

.overflow-scroll {
  overflow-x: scroll;
}

.custom-drawer-width {
  width: 350px !important;
}

.width-100vw-overflow {
  width: 100vw;
  overflow: scroll;
}

.modal-width-1200 {
  --bs-modal-width: 1024px;
}

.text-align-center{
  text-align: center;
}
